<!DOCTYPE html>
<div id="content-wrapper">

    <div class="page-content">

        <!-- Header Bar -->
        <div class="row header col-xs-12">
            <div class="user pull-right">
                <div class="item dropdown">
                    <a href="#" class="dropdown-toggle"><img src="components/img/avatar.jpg" alt="" /></a>
                </div>
            </div>
            <div class="meta">
                <div class="page">Dashboard</div>
                <div class="breadcrumb-links">Home / Dashboard</div>
            </div>
        </div>
        <!-- End Header Bar -->

        <!-- Dashboard Boxes -->
        <div class="row">
            <div class="col-lg-3 col-md-6 col-xs-12">
                <div class="widget">
                    <div class="widget-header">
                        <div class="widget-icon green pull-left">
                            <i class="fa fa-users"></i>
                        </div>
                        <div class="title">{{users.length}}</div>
                        <div class="comment">Users</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-xs-12">
                <div class="widget">
                    <div class="widget-header">
                        <div class="widget-icon green pull-left">
                            <i class="fa fa-users"></i>
                        </div>
                        <div class="title">{{widgets.length}}</div>
                        <div class="comment">Widgets</div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Tables -->
        <div class="row">

            <!-- Users listing -->
            <div class="col-lg-6">
                <div class="widget">
                    <div class="widget-header">Users
                        <div class="pull-right">
                            <input [(ngModel)]="filterUser" type="text" class="form-control input-sm" (keyup)="userFilter()" />
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th class="text-center">ID</th>
                                    <th>Name</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let user of filteredUsers">
                                    <td class="text-center">{{user.id}}</td>
                                    <td>{{user.name}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- End Users -->

            <!-- Widget listing -->
            <div class="col-lg-6">
                <div class="widget">
                    <div class="widget-header">Widgets
                        <div class="pull-right">
                            <input [(ngModel)]="filterWidget" type="text" class="form-control input-sm" (keyup)="widgetFilter()" />
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th class="text-center">ID</th>
                                    <th>Name</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let widget of filteredWidgets">
                                    <td class="text-center">{{widget.id}}</td>
                                    <td>{{widget.name}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- End Widgets -->

        </div>
        <!-- End Tables -->

    </div>
    <!-- End Page Content -->
</div>
<!-- End Content Wrapper -->
