<!DOCTYPE html>
<div id="page-wrapper" class="open">

    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar">
            <li class="sidebar-main"><a href="/dashboard">Dashboard <span class="menu-icon fa fa-tachometer"></span></a></li>
            <li class="sidebar-title"><span>NAVIGATION</span></li>
            <li class="sidebar-list"><a href="/dashboard">Dashboard <span class="menu-icon fa fa-tachometer"></span></a></li>
            <li class="sidebar-list"><a routerLink="/user">Users <span class="menu-icon fa fa-users"></span></a></li>
            <li class="sidebar-list"><a routerLink="/widget">Widgets <span class="menu-icon fa fa-cubes"></span></a></li>
        </ul>
        <div class="sidebar-footer col-xs-12"><a href="#" target="_blank">&copy; 2015 Red Ventures</a></div>
    </div>

    <!-- End Sidebar -->
    <router-outlet>
    </router-outlet>
</div>
<!-- End Page Wrapper -->
